<html style="font-family: 'Roboto', sans-serif">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Spicy Database</title>
        <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1alO952ux43Lz_5-m2U8TFg7DVNou-tzF"> 
        <link rel="stylesheet" type="text/css" href="tenta.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>

    </head>

    <div id="navbar">
        <a href="http://www.unina.it/home;jsessionid=57876DFDEB75069A6881C6DFB84B69B8.node_publisher11  ">| Unina Website &#127891;</a>
        <a href="http://datascience.unina.it/">| Data Science Unina Website &#128187;</a>
        <a href="https://www.spici.eu/en/home-en/">| Spici Website 🌶️</a>
    </div>


    <div class="sidenav">
        <center><b style="font-size:20px; color:whitesmoke"> Powered By</b></center><br>
            <b><a href="https://www.mongodb.com/" style="text-decoration: none"><f>| MongoDB <span class="iconify" data-icon="simple-icons:mongodb" style="color: #099407;"></span></f></a></b>
            <b><a href="https://www.python.org/" style="text-decoration: none"><c>| Python <span class="iconify" data-icon="logos:python"></span></c></a></b>
            <b><a href="https://flask.palletsprojects.com/en/2.0.x/" style="text-decoration: none"><d>| Flask  <span class="iconify" data-icon="cib:flask" style="color: #c23213;"></span></a></d></b><br>
    </div>


    <div class="sidenav2">

        <br><center><b style="font-size:24px; color:whitesmoke"> Already Registered?</b></center>
            <center><a style="font-size:24px; color:rgb(37, 37, 255)" href="login.html" class="button">Log-in!</a><br></center></b>

    </div>

<body>            
    <div class="form-box2">

        <h1> Account Registration Form</h1>

        <center><div id="menubar1">
            <a type="button" class="button2" onclick="show2()" style="font-size: 23px"><i style= "font-size: 23px" class="fas fa-bars"></i></a> 
            <span style="font-size: 23px">Personal Details 
                <span class="iconify" data-icon="bx:bxs-user">
                </span> 
            </span>
        </div></center>
 
<form class ="form-signup" actions="/greet" method ="POST">


        <p style="text-align:center"> <scroll style="font-size: 27px">&#x1F4C3;</scroll> <i> This part of the form is mandatory. Only the company's legal representative can fill it.</i> </p>

        <br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" placeholder="Name" name='name' required pattern ="[A-Za-z]{2,20}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters, non numeric, non symbol' : '')">
            </box>
            <box class="input-box">
                <input type="text" placeholder="Surname" name='surname' required pattern="[A-Za-z]{2,20}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters, non numeric, non symbol' : '')">
            </box>
        </div>

            <br><br><br>

        <div style="text-align: center">
            <box class="input-boxPWSub">
                <input id="password1" name="password1" type="password" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters.' : ''); if(this.checkValidity()) form.password2.pattern = this.value;" placeholder="Password" required>
                    <i  class="far fa-eye" id="togglePassword" type="checkbox" onclick="MostraPass()" style="text-align:end; position: relative; font-size:larger"></i> 
            </box>
            <box class="input-boxPWSub">
                <input id="password2" name="password2" type="password" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required>
                    <i  class="far fa-eye" id="togglePassword" type="checkbox" onclick="MostraVerify()" style="text-align:end; position: relative; font-size:larger"></i> 
            </box>
        </div>
        <br><br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" required onfocus="(this.type='date')" onfocusout="(this.type='date of birth')" placeholder="Date of Birth" name ='age' onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Mandatory field' : '')">
            </box>     

            <box class="input-box">
                <input type="text" required placeholder="Fiscal Code" name="fiscal_code" pattern="([A-z0-9À-ž\s]){2,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters' : '')" >
            </box>
        </div>

            <br><br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="email"  placeholder="Email ID" name ='email'>
            </box>

            <box class="input-box">
                <input type="text" placeholder="Phone Number" required name="phone_num" pattern="([0-9]{5,})" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 numbers' : '')" >
            </box>
        </div>


        <br>

        <center><div id="menubar1">
            <a type="button" class="button2" onclick="show()" style="font-size: 23px"><i class="fas fa-bars"></i></a> 
            <span style="font-size: 23px">Company Details
                <span class="iconify" data-icon="carbon:location-company"></span>
            </span>
        </div></center>

        <br>


    <Next action="FormController/save" method = "POST" id="CompanyDetails" style="display: none">

        <p style="text-align:center"><scroll style="font-size: 27px">&#x1F4C3;</scroll> <i>This part of the form relates to the legal representative's company.</i></p>

        <br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" required placeholder="Company name" name='company_name' pattern = "([A-z0-9À-ž\s]){2,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters':'')">
            </box>
            <box class="input-box">
                <input type="text" required placeholder="Corporate Purpose" name ='purpose' pattern = "([A-z0-9À-ž\s]){5,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 5 characters' : '')">
            </box>
        </div>

            <br><br><br>

        <div style="text-align: center">
            <box class="input-box"> 
                <input type="text" required onfocus="(this.type='date')" onfocusout="(this.type='date_foundation')" placeholder="Date of Foundation" name ='date_foundation' onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Mandatory field' : '')">
            </box>
            <box class="input-box">
                <input type="text" required placeholder="Country"  name="country" pattern="([A-z0-9À-ž\s]){2,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters' : '')" >
            </box>
        </div>

            <br><br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" required placeholder="City" name="city" pattern="([A-z0-9À-ž\s]){2,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the city' : '');" >
            </box>
            <box class="input-box">
                <input type="text" required placeholder="Street" name="street" pattern="([A-z0-9À-ž\s]){2,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the street' : '');" >
            </box>
        </div> 
    
            <br><br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" required placeholder="ZIP Code"  name="zip" pattern="([A-Z0-9\s]){3,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 3 characters' : '');" >
            </box>
            <box class="input-box">
                <input type="text" required placeholder="Share capital" name="share_capital" pattern="[0-9]{3,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'At least 1euro': '');" >
            </box>
        </div>

        <br><br>

        <div style="text-align: center">
            <box class="input-box">
                <input type="text" required placeholder="VAT Number" name="vat" pattern="[0-9]{11}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Insert 11 digits': '') ; " >
            </box>
        </div>

        <br><br>

</Next>


    <center><div class="g-recaptcha brochure__form__captcha" data-sitekey=" 6Ldpo_IdAAAAAErEztJuBBXKeayfs3MF-ymYD8Qz" data-theme="dark"></div></center>

        <div id='menubar1' style="text-align:center">
            <a><input class="button" type= "submit" value= "Subscribe"></b></a>

            <br><br>
        </div>
        
</form>


    <!-- <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
           <div class="container">
              <div class="btt">
                 <a class="back-to-top" href="#page" title="Back To Top"><i class="fa fa-caret-up wow flash" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: flash;"></i></a>
              </div>
           </div>
           <div class="container">
              <div class="row">
                 <div class="col-sm-4"><strong>Copyright</strong><br>© 2021 SPICI srl – Società per l’Innovazione, la Cooperazione e l’Internazionalizzazione</div>
                 <div class="col-sm-4"><a href="/cookie-policy/">Cookie Policy</a> / <a href="/privacy-policy/">Privacy Policy</a> / <a href="https://www.spici.eu/politica-per-la-qualita/">Politica per la Qualità</a></div>
                 <div class="col-sm-4">
                    <strong>Stay updated</strong>
                    <div class="footer-socials"><a target="_blank" href="https://www.facebook.com/Spicisrl" title="Facebook Page"><i class="fa fa fa-facebook"></i></a><a target="_blank" href="https://www.linkedin.com/company/spici-srl-societ%C3%A0-per-l-innovazione-la-cooperazione-e-l-internazionalizzazione/" title="Linkedin"><i class="fa fa fa-linkedin"></i></a></div>
                 </div>
              </div>
           </div>
        </div>
     </footer> -->
    
</body>
</html>

  <!-- <script>

    function myFunction() {
        var x = document.getElementById("password1");
        var y = document.getElementById("password2");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
        if (y.type === "password") {
        y.type = "text";
        } else {
        y.type = "password";
        }
        if(x!=y)
        prompt= ' Passwords Not Matched!!'
        }
        
    </script> -->
    

<script>
    function MostraPass() {
        var x = document.getElementById("password1");
    if (x.type === "password") {
    x.type = "text";
    } else {
    x.type = "password";
    }}
    function MostraVerify() {
        var x = document.getElementById("password2");
    if (x.type === "password") {
    x.type = "text";
    } else {
    x.type = "password";
    }}
</script>


<script type = "text/javascript">  

    function show() {
  var x = document.getElementById("CompanyDetails");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 

</script>  



<script type = "text/javascript">  

    function show2() {
  var x = document.getElementById("PersonalDetails");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 

</script>  

<script>

window.onload = function() {
    var $recaptcha = document.querySelector('#g-recaptcha-response');

    if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
    }

};

</script>



<style>
    .fb9 {
      border: 1px solid #3366FF;
      background-color: #B3C6FF;
      width:150px;
      height:30px;
    }

    input:invalid:focus {
      border-bottom: 2px solid red;
    }
    
    input:valid:focus {
        border-bottom: 2px solid green
    }

</style>